
/*global decs */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


body {
    font-family: sans-serif;
    background-color:antiquewhite;
}

p {
    color: darkorange;
    background-color: lavenderblush;
} 




/* outer cont */



.outer-container {
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}


/* top bar */


.top-bar {
    padding: 5px;
}

.top-bar p {
    float: right;
    margin: 20px;
    padding: 5px;
    border-color: dodgerblue;
    box-shadow: 5px 5px 5px black;

}

.top-bar button {
    background-color: lavenderblush;
    border: 1pxs;
    border-color: dodgerblue;
    border-radius: 6%;
    margin: 20px;
    padding: 5px;
    box-shadow: 5px 5px 5px black;
}
    


/* inner cont */


.inner {
    background-color: darkgoldenrod;
    height: 100%;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;


}


/* header/intro */


.intro, main {
    margin-bottom: 10vh;
    margin-left: 10%;
    margin-right: 10%;

    

}

.intro button{
    display: block;
    margin: 0 auto;
    box-shadow: 5px 5px 5px black;
}


/* main quiz cont */


.main-cont {
    display: none;


}

/* question screen */

.finish-screen {
    display: block;
}


